<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/86ee32c6-1d3a-4adc-8413-bdfa33d69328/resourceGroups/tmo-sample-container-app-rg/providers/Microsoft.ContainerRegistry/registries/tmoSampleContainerRegistry</ResourceId>
    <ResourceName>tmoSampleContainerRegistry</ResourceName>
    <ResourceGroup>tmo-sample-container-app-rg</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://tmosamplecontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dbc0e9bd-6d3b-45c0-975a-04c38c75d6c9</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>